* {
    margin: 0;
    padding: 0;
}
nav {
    background: linear-gradient(
        180deg,
        #ffffff 60.05%,
        rgba(217, 217, 217, 0) 100%
    );
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{

    z-index: 1000;
}
.navbar-nav a {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.bg-theme{

    background-color: #FFC558 !important;
}

.bg-theme-2{

    background-color: #FCD975 !important;
}

#button-nav {
    border: none;
}
#button-nav .btn {
    border: none;
}
.img-id {

    margin-right: 6px;
}

.dropdown-toggle::after{

    display: none;
}

.dropdown-item, .dropdown-item{

    height: 49px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{

    margin-top: 20px;
    width:224px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{

    background-color: #FCD975;
}
#button-1-nav {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}
#button-2-nav {
    width: 61px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: #ffc558;
}
.button-2-nav:hover {
    background-color: #ffc558;
}

@media (max-width: 593px) and (min-width: 499px) {
    #button-1-nav {
        background-color: #ffc558;
    }
    .dropdown-text {
        margin-right: 0px;
    }
}
@media (max-width: 992px) {
    #button-1-nav {
        background-color: #ffc558;
    }
}

#nav-banner {
    width: 75%;
}

.services_h3{

    font-size: 25px;
    font-weight: 400;
    color:black;
    text-decoration: none;
}

.slider-heading{

    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}


.select{

    border-radius: 115px;
    box-shadow: 3px 3px 3px 3px #FCD975;

}

.search_icons{

    font-size: 39px;
    color: black;
}

.search_icons:hover{

    font-size: 39px;
    color: #FCD975;
}

.banner_search_icons{

    font-size: 45px;
    color: #FCD975;
}

.banner_search_heading{

    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #FCD975;

}

.banner_search_paragraph{

    font-size: 24px;
    font-weight: 300;
    line-height: 29.05px;
}

.dropdown-toggle::after{

    display: none;
}

.search_h4{

    color: #EFAF18;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.dropdown-toggle::after{

    display: none !important; 
}

.download_yuyki_h2{

    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 60px !important;
}

.download_yuyki{

    background-color: #FCD975;
}

.download_yuyki_a{

    font-size: 23px !important;
    font-weight: 300 !important;
}

.getreward_h3{

    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.getreward_p{

    font-size: 20px;
    font-weight: 300;
    line-height: 29.05px;
}

.btn-themes{

    background-color: #D9D9D9 !important;
    color: black;
    font-weight: 700 !important;
    font-size: 24px !important;
}

.recent_Activity_h4{

    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    color:#000000;
}

.recent_Activity_p{

    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
    color: #000000;
}





